[Unit]
Description=Load USB gadget scheme
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
Type=oneshot
ExecStart=/usr/share/systemd/uvc-gadget.sh start
ExecStop=/usr/share/systemd/uvc-gadget.sh stop
RemainAfterExit=yes

[Install]
WantedBy=usb-gadget.target
