absl-py
attrs
cffi
contourpy
cycler
flatbuffers
fonttools
jax
kiwisolver
matplotlib
mediapipe
ml-dtypes
numpy
open3d
opencv-contrib-python
opencv-python
opt-einsum
packaging
pillow
protobuf
pycparser
pygame
pyparsing
python-dateutil
scipy
six
sounddevice
